<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>To Do List</title>
</head>
<body>
    


    <div id="heading" class="box">
        <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">
        <ul>
            <% for (let count = 0; count < newListItems.length; count++) { %>
                <div class="item">
                    <input type="checkbox" name="" id="">
                    <p> <%= newListItems[count] %> </p>
                </div>
            <% } %>
            <form class="item" action="/" method="post">
                <input placeholder="New Item" type="text" name="newItem" autocomplete="off">

                <button type="submit" name="list" value=<%= listTitle %> >+</button>
            </form>
        </ul>
    </div>



</body>
</html>